#Account{
          .fileBox{
                    // border: 1px dashed  !important;
                    background-color: var(--secondBackground) ;
          }
          .fileIcon{
                    color: #F2F2F2;
                    font-size: 50px;
          }

}

ul.MuiList-root{
    background-color: var(--secondBackground) ;
}

/*-----desktop laptop --------------  */
@media (min-width: 1024px){

}


  /*-----tablets and ipads --------------  */
@media (min-width: 769px) and (max-width:1023px){
    .accountForm {
        width: 100% !important;
        max-width: 100% !important;
    }
}


/*-----mobile phone --------------  */
@media (max-width:768px){
    .accountForm {
        max-width: 100% !important;
    }
}

/*-----small phone --------------  */
@media (max-width: 468px){
    div#Account h3 {
        font-size: 26px;
    }
 }   
