#CreateOffer {
    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        background-color: var(--background);
    }
          .createFileBox {
                    border: 1px dashed ;
                    background-color: var(--background);
          }

          .fileIcon {
                    color: #F2F2F2;
                    font-size: 50px;
          }
}