#Dasboard{
    .customPadding{
        background-color: var(--background);
        margin: 30px auto;
        padding: 16px 30px 0px 30px;
    }
    .ChartPadding{
        background-color: var(--background);
        margin: 30px auto;
        padding: 0px 30px 20px 30px;
    }
    button.btn.btn-primary.m_btn.resBtnSend {
        padding: 0px 32px;
    }
    .Dashboard__Counter{
        .counter__item{
            padding: 15px 20px ;
            height: 130px;
            h3{
            font-size: 30px;
            font-weight: 600;
            line-height: 45px;
            letter-spacing: 0px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            color: var(--white__to_D2);
            }
            hr{
                height: 2px;
                background-color:var(--white__to_D2) ;
                margin: 10px 0px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                line-height: 26px;
                letter-spacing: 0px;
                color: var(--white__to_D2);

            }
            span{                
                background: rgba(255, 255, 255, 0.2);
                border-radius: 12px;
                width: 40px;
                text-align: center;
                order: 1;
                svg {
                    line-height: 40px;
                    text-align: center;
                    height: 20px;
                    width: 20px;
                    path {
                        fill:  var(--white__to_D2);
                        // stroke:var(--white__to_D2);
                      }
                }
            }
            
        }

        @media (min-width:1200px) and (max-width:1685px) {
            .counter__item{
                
                h3{
                font-size: 22px !important;
                margin-right: -2px ;
                font-weight: 600;
                line-height: 45px;
                letter-spacing: 0px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                color: var(--white__to_D2);
                }
               
        }

       }
       @media (min-width:901px) and (max-width:985px) {
        .counter__item{
            
            h3{
            font-size: 20px !important;
            margin-right: -2px ;
            font-weight: 600;
            line-height: 45px;
            letter-spacing: 0px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            color: var(--white__to_D2);
            }
           
         }

        }  

    }
    #dashboardChart {
        background-color: var(--background);
        margin: 30px auto;
      
       
        .datetoData{
            padding: 11px 15px !important;
            border-radius: 4px;
            font-size: 14px;
            text-transform: capitalize;
            background: transparent;
            flex: none;
            color:var(--A5__to__CC);
            order: 2;
            flex-grow: 0;
            outline: none;
            border: none;
        }
        .m_btn{
            &:hover{
                
                background-color: transparent;
            }
        }
        .dashboard__Chart__header__content {
            margin-bottom: 20px !important;
        }
        .h6_dashboard{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .h6_dashboard p{
           color:  var(--A5__to__a5);
           font-size: 24px;
           margin-top: -2rem;
        }
        .but_dashboardd{
            display: flex;
            justify-content: right;
            gap: 18px;
        }

        .recharts-responsive-container {
            .recharts-wrapper {
                .recharts-default-legend {
                    text-align: start !important;
                    margin-left: 40px !important;
                    margin-top: 20px !important;

                    li {
                        // color:none !important;

                        .recharts-surface {
                            border-radius: 50%;
                            height: 13px;
                            width: 13px;

                            path {
                                fill: transparent;
                                stroke: none;
                            }
                        }

                    }
                    .legend-item-0 {
                        margin-right: 8px !important;
                        .recharts-surface {
                            margin-right: 7px ;
                            background: linear-gradient(0deg, #4C0000, #4C0000),
                                linear-gradient(0deg, #1a1818, #4C0000);
                        }
                    }

                    .legend-item-1 {
                        margin-right: 25px ;
                        .recharts-surface {
                            margin-right: 10px !important;
                            background: linear-gradient(0deg, #A5DEFF, #A5DEFF),
                                linear-gradient(0deg, #FFFFFF, #FFFFFF);
                        }


                    }

                    .legend-item-2 {
                        margin-right: 25px ;
                        .recharts-surface {
                            margin-right: 10px !important;
                            background: linear-gradient(0deg, #F0C64D, #F0C64D),
                        }
                    }
                    .legend-item-3 {
                        margin-right: 25px;
                        .recharts-surface {
                            margin-right: 10px !important;
                            background: linear-gradient(0deg, #159F96, #159F96),
                        }
                    }

                    .legend-item-4 {
                        .recharts-surface {
                            margin-right: 10px !important;
                            background: linear-gradient(0deg, #1A55FD, #1A55FD),
                                // linear-gradient(0deg, #FFFFFF, #FFFFFF);
                        }



                    }
                }
                                .recharts-legend-item-text{
                                    color: var(--22__to__CC) !important;
                                }
            }
        }

        .recharts-default-tooltip {
            background-color: var(--background) !important;
            border-radius: 10px;
            border: 0px;
        }
        // .recharts-cartesian-grid-horizontal{
            line{
                stroke: var(--secondBackground);
            }
        // }
        @media (min-width:100px) and (max-width:899px) {
            .datetoData.resBtnDate {
                padding: 10px 0 !important;
                
            }
            .but_dashboardd {
                justify-content: normal;
            }
        }
        @media (max-width:600px) {
            .ChartPadding{
                padding: 0 12px 17px 7px;
            }
        }
        @media (min-width:400px) and (max-width:460px) {
               .datetoData {
                font-size: 14px !important;
            }
            .resBtnSend {
                font-size: 13px !important;
            }
        }
        @media (min-width:400px) and (max-width:435px) {
            .recharts-responsive-container {
                .recharts-wrapper {
                    .recharts-default-legend {
                    
                        .legend-item-0 {
                            margin-right: 1px !important;
                            .recharts-surface {
                                margin-right: 1px ;
                                background: linear-gradient(0deg, #4C0000, #4C0000),
                                    linear-gradient(0deg, #1a1818, #4C0000);
                            }
                        }
    
                        .legend-item-1 {
                            margin-right: 1px ;
                            .recharts-surface {
                                margin-right: 1px !important;
                                background: linear-gradient(0deg, #A5DEFF, #A5DEFF),
                                    linear-gradient(0deg, #FFFFFF, #FFFFFF);
                            }
    
    
                        }
    
                        .legend-item-2 {
                            margin-right: 1px ;
                            .recharts-surface {
                                margin-right: 1px !important;
                                background: linear-gradient(0deg, #F0C64D, #F0C64D),
                            }
                        }
                        .legend-item-3 {
                            margin-right: 1px;
                            .recharts-surface {
                                margin-right: 1px !important;
                                background: linear-gradient(0deg, #159F96, #159F96),
                            }
                        }
    
                        .legend-item-4 {
                            .recharts-surface {
                                margin-right: 1px !important;
                                background: linear-gradient(0deg, #1A55FD, #1A55FD),
                                    // linear-gradient(0deg, #FFFFFF, #FFFFFF);
                            }
    
    
    
                        }
                    }
                                    .recharts-legend-item-text{
                                        color: var(--22__to__CC) !important;
                                    }
                }
            }
         }
        
    }
    .dashbord__tables{
        padding-top: 30px;
        .Table__item{
            padding: 15px;
          
            background-color: var(--background);
            border-radius: 10px;
            h3{
                color: var(--22__to__CC);
                font-size: 18px;
                font-weight: 600;
                line-height: 26px;
                padding-bottom: 20px;
                a{
                    float: right;
                    color: var(--EB__to__F5);
                    font-size: 13px;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
            .table_data{
                height: 400px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                  }
                thead{
                    border-style: none;
                    tr {
                        border-style: none;
                        th{
                           color: #A5A5A5;
                           font-size: 14px;
                           font-weight: 400;
                           line-height: 21px;
                       }
                    }
                }
                tbody{
                    border-top: none;
                    tr td{
                        color: var(--22__to__CC);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 75px;
                        margin:0px;
                        border: 0;
                        img{
                            margin-right: 10px;
                        }
                    }
                } 
            }
        }

        .table-size-fix > div {
            height: 100%;
        }
        .table-size-fix {
            height: 100%;
        }
    }
    @media(min-width: 300px) and (max-width:402px){
       .datetoData.resBtnDate {
            padding: 10px 0 !important;
            font-size: 13px !important;
        }
    
   .resBtnSend {
        padding: 0px 21px !important;
        font-size: 13px;
    }

   }
}

@media only screen and (max-width: 1200px) {
    .adminDashboard{
        ul.recharts-default-legend{
            display: flex;
            justify-content: space-between;
        }
    }
}