#CreateAffiliate {
    .createFileBox {
              border: 1px dashed ;
              background-color: #F2F2F2;
    }

    .fileIcon {
              color: #F2F2F2;
              font-size: 50px;
    }
}
