#PostBackTools{
    .ManageForm{
        form{
           .mangeCard{
            background-color: var(--background);
            padding: 15px;
            border-radius: 15px;
            margin-bottom: 30px;
            box-shadow: none !important;
                h5{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--22__to__CC);
                    margin-bottom: 15px;
                }
                .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
                    color: var(--77__to__A5); 
                }
                .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
                    color: var(--77__to__A5);
                }
                .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                    border-radius: 15px;
                    border: 0px solid var(--77__to__A5);
                    .css-1ftyaf0{
                            color: var(--77__to__A5);  
                        
                    }
                }
                input{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding: 13px 20px;
                    height: auto;
                    background-color: var(--secondBackground);
                    border: 0;
                    border-radius: 7px;
                    &::placeholder{
                        
                        color: var(--77__to__A5);
                    }
                    color: var(--77__to__A5);
                }
                .button__wrapper{
                    text-align: center;
                    button{
                    
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: center;
                        border-radius: 10px;
                    }
                }

                @media(min-width: 901px) and (max-width: 1040px){
                    .button__wrapper{
                       
                        button{
                        
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 0em;
                            text-align: center;
                            border-radius: 10px;
                        }
                    }
                }
                
                @media(min-width: 1041px) and (max-width: 1169px){
                    .button__wrapper{
                       
                        button{
                            padding: 17px 35px !important
                        }
                    }
                }
               
            }
        }
       
    }
    .ManagerHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .table>:not(:first-child) {
        border-top: 0px solid currentColor;
    }
    
}


