#FinanceInvoice {
  .ManageForm {
    form {
      .mangeCard {
        background-color: var(--background);
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: none !important;
        h5 {
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--22__to__CC);
          margin-bottom: 15px;
          text-transform: capitalize;
        }
        .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
          color: var(--77__to__A5);
        }
        #demo-simple-select-label.Mui-focused{
          color: var(--77__to__A5);
          padding-right:8px ;
          background-color: var(--background);
        }
        .MuiOutlinedInput-notchedOutline {
          border-radius: 15px;
          border: 1px solid var(--77__to__A5);
          legend {
            color: var(--77__to__A5);
          }
        }
        input {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding: 13px 20px;
          height: auto;
          background-color: var(--77__to__30);
          border-radius: 15px;
          border: 1px solid var(--77__to__A5);
          &::placeholder {
            color: var(--77__to__A5);
          }
          color: var(--77__to__A5);
        }
        .button__wrapper {
          text-align: right;
          button {
            padding: 8px 95px;
            width: 90%;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0em;

            border-radius: 10px;
          }
        }
      }
    }
  }
  .manageFinaceHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    background: var(--background);
    .duplicate__m_btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 40px;
      text-transform: capitalize;
      background: #7040ff;
      flex: none;
      order: 2;
      flex-grow: 0;
      outline: none;
      border: none;
      border: 1px solid #7040ff;
      &:hover {
        color: #7040ff;
        background-color: transparent;
        border: 1px solid #7040ff;
      }
    }
    h2{
      margin-top: 0;
    }
  }
  .table > :not(:first-child) {
    border-top: 0px solid currentColor;
  }
  
}
